# Created by venv; see https://docs.python.org/3/library/venv.html
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# Logs and runtime files
*.log
data/raw/*.csv

# Environment variables
.env
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db